<div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Callbacks</h2>
        <h4 class="card-text">Just like almost everything in JavaScript (except primitive data types), functions
             are an object type. So like any other object types, functions can be passed to other functions.
            <br><br> 
            When a function is passed as an argument, it is called a callback function. This callback function can 
            be invoked inside the function calling it at any point, especially when some routine or action has been completed. 
            <br><br>
            Since JavaScript is an event-driven language, you can’t just call one function after another and hope both of the functions 
            will execute in the right order. 
            <br><br>
            Instead of waiting for a response, JavaScript keeps on executing, while listening for events in the background. This is where callbacks prove to be really beneficial since they can be called from inside the called function when the time is right e.g. to return some kind of useful data.
        </h4>
        
      </div>
    </div>
  </div>
