<div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">Brendan Eich</h2>
        <h4 class="card-text">Brendan Eich, a Netscape Communications Corporation programmer, created JavaScript in September 1995. It 
            took Eich only 10 days to develop the scripting language, then known as Mocha.
            <br><br> 
            When Eich created JavaScript in 1995, he created it for Netscape Navigator and it quickly became known as LiveScript. In another 
            quirk of JavaScript history, the team changed the name to JavaScript to reflect Netscape’s support of Java within its browser. While 
            this definitely sounds confusing (and yes, it confuses people to this day), at the time people said it was a “marketing tactic” to connect 
            a brand new language (JavaScript) to a popular language at the time (Java), regardless of the fact that JavaScript and Java have almost nothing to do with each other.
        </h4>
        
      </div>
    </div>
  </div>
